<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='javascripts/js.cookie.js'></script>
    <script src='javascripts/jquery-2.1.4.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
